@import '../../../../scss/colors.scss';

header {
    background-color: $dark-red;
    color: $white;
    font-size: 18px;
    padding: 2rem 3rem;
}

@media only screen and (max-width:768px){
    header {
        padding: 2rem 1rem;
    }
}