<p class="font-32 title-bold margin-left-3">{{pageTitle}}</p>

<form class="form margin-left-3 margin-bottom-3" [formGroup]="dragonForm" (ngSubmit)="onSubmit()">
    <label class="display-block">Dragon's Name</label>
    <input class="display-block form-input" type="text" formControlName="name">

    <label class="display-block">Dragon's Type</label>
    <input class="display-block form-input" type="text" formControlName="type">

    <label *ngIf="currentAction == 'edit'" class="display-block">Dragon's Create Date</label>
    <input *ngIf="currentAction == 'edit'" class="display-block form-input" type="text" formControlName="createdAt">

    <button class="display-block btn-okay" type="submit" [disabled]="!dragonForm.valid">Submit</button>
</form>