@import '../../../../scss/colors.scss';

.copyright {
    text-align: center;
    width: 100%;
    background-color: $dark-red;
    color: $white;
    font-size: 12px;
    padding: 1rem 0;
}
.copyright a {
    color: $white;
    text-decoration: none;
}