.btn{
    margin-left: 1rem;
}
.create {
    margin-left: 4rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
table.mat-table {
    width: 90%;
    margin-left: 4rem;
    margin-bottom: 2rem;
}
.title-head {
    font-size: 18px;
}